* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(228, 228, 228);
}

/* MODAL */

#modal-bck {
  background-color:  #47cec1;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: block;
}

#log-in {
  animation: bounceInDown; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
  left: 0;
  right: 0;
  padding: 0 2rem;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  background-color: rgb(255, 255, 255) !important;
  width: 28rem;
  height: 22rem;
  margin: 0 auto;
  z-index: 10;
  margin-top: 8.5rem;
  display: grid; /*grid*/
  grid-template-rows: 3fr 3fr;
  -webkit-box-shadow: 10px 10px 11px -8px rgba(0,0,0,0.45);
  -moz-box-shadow: 10px 10px 11px -8px rgba(0,0,0,0.45);
  box-shadow: 10px 10px 11px -8px rgba(0,0,0,0.45);
}
#log-in div {
  display: flex;
  justify-content: center;
  align-items: center;
}
#log-in img {
  width: 10rem;
  padding: 1rem 0;
}

#log-in form {
  display: grid;
  grid-template-rows: 2fr 1fr;
}

#user-label{
  line-height: 2.5 !important;
}
#close, #close-res{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -1rem;
  margin-right: 0.3rem;
  font-size: 3rem;
  transform: rotateZ(45deg);
  color: #26a69a;
}
#close:hover, #close-res:hover{
  cursor: pointer;
}

/* alert */

#alert-modal-bck, #alert-winner-bck {
  background-color:  #47cec1;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 5555;
}

#alert, #alert-winner{
  animation: bounceInDown; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  background-color: rgb(255, 255, 255) !important;
  width: 28rem;
  height: 25rem;
  margin: 0 auto;
  z-index: 10;
  margin-top: 8.5rem;
  display: grid; /*grid*/
  grid-template-rows: 3fr 3fr;
  -webkit-box-shadow: 10px 10px 11px -8px rgba(0,0,0,0.45);
  -moz-box-shadow: 10px 10px 11px -8px rgba(0,0,0,0.45);
  box-shadow: 10px 10px 11px -8px rgba(0,0,0,0.45);
}
#alert div , #alert-winner div{
  display: flex;
  justify-content: center;
  align-items: center;
}
#alert img, #alert-winner img {
  width: 10rem;
  padding: 1rem 0;
}


button{
  width: 30%;
  margin: auto;
  padding: 5px;
  background-color: #26a69a;
  border: none;
  font-size: 1.2rem;
  border-radius: 2px;
}

/* hall */
#hall-modal-bck {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 5;
}

#hall{
  animation: bounceInDown; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
  left: 0;
  right: 0;
  padding: 0 2rem;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  background-color: rgb(255, 255, 255) !important;
  width: 28rem;
  height: 27rem;
  margin: 0 auto;
  z-index: 10;
  margin-top: 9.5rem;
  display: grid; /*grid*/
  grid-template-rows: 1fr 5fr 1fr;
  -webkit-box-shadow: 10px 10px 11px -8px rgba(0,0,0,0.45);
  -moz-box-shadow: 10px 10px 11px -8px rgba(0,0,0,0.45);
  box-shadow: 10px 10px 11px -8px rgba(0,0,0,0.45);
}
#hall button{
  width: 100%;
}
#hall h4{
  text-align: center;
  border-bottom: 2px solid #47cec0 ;
}
th, td{
  padding: 0.5rem !important;
}

/* nav */
nav{
  background-color:  #26a69a !important ;
}
.mobile-ul{
  width: 200px !important;
  padding-top: 2rem;
}
.mobile-ul a{
  color:  #26a69a !important ;

}
nav>div{
  margin: 0 5%;
}
.list-elements{
  border-right: 1px solid rgba(255, 255, 255, 0.493);
}
.is-user {
  padding: 0 15px;
}
.is-user span{
  font-weight: 800;
}
.mobile-list-elem{
  display: flex;
    justify-content: center;
    align-items: center;
}
#logo {
  display: flex;
  align-items: center;
}

.sync:hover{
  cursor: pointer;
  animation: rotateIn 1.5s ease-out 0s alternate infinite none running;
}
.cloud-upload:hover{
  cursor: pointer;

  animation: fadeOutUp 1.5s ease-out 0s alternate  infinite  none running;
}
.play-game-single:hover, .play-game-multi:hover {
  cursor: pointer;
  animation: flip 1.5s ease-out 0s alternate  infinite  none running;

}
#gif-bck{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
/* User answ */
#game-bck {
  background-color:  #cccccc8c;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 5;
}

#game-answers{
  animation: bounceInDown;
  animation-duration: 1s;
  margin: 5rem auto 0 ;
  left: 0;
  right: 0;  
  position: absolute;
  padding: 0.5rem 2rem;
  background-color: rgb(255, 255, 255) !important;
  width: 29rem;
  height: 36rem;
  -webkit-box-shadow: 10px 10px 11px -8px rgba(0,0,0,0.45);
  -moz-box-shadow: 10px 10px 11px -8px rgba(0,0,0,0.45);
  box-shadow: 10px 10px 11px -8px rgba(0,0,0,0.45);
  display: grid;
  grid-template-rows: 1fr 6fr;
  z-index: 99;
}
/* #user-answers form{
  display: grid;
  grid-template-rows: 8fr;
} */
#game-answers>div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#game-answers>div h2{
  margin: 0;

}
#random-letter{
  text-align: center;
}
#time-to-end{
  text-align: right;
}
#game-answers input {
  margin: 0 !important;
  height: 2.7rem !important; 
}
#game-answers button{
width: 100%;
}

/* result */
#result-bck {
  background-color:  #cccccc8c;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 5;
}

#result{
  animation: bounceInDown;
  animation-duration: 1s;
  margin: 5rem auto 0 ;
  left: 0;
  right: 0;  
  position: absolute;
  padding: 0.5rem 2rem;
  background-color: rgb(255, 255, 255) !important;
  width: 42rem;
  height: 36rem;
  -webkit-box-shadow: 10px 10px 11px -8px rgba(0,0,0,0.45);
  -moz-box-shadow: 10px 10px 11px -8px rgba(0,0,0,0.45);
  box-shadow: 10px 10px 11px -8px rgba(0,0,0,0.45);
  display: grid;
  grid-template-rows: 1fr 6fr 1fr 1fr;
  z-index: 99;
}
#result div{
  display: flex;
  justify-content: center;
  align-items: center;
}
#result div h3{
  width: 100%;
  border-bottom: 2px solid #47cec0 ;
}
#result button{
  width: 100%;
}
.result-cat{
  text-align: left !important;
  font-weight: 500;
  color: rgb(109, 109, 109);
}
#result td{
  text-align: center;
}
#score{
display: flex;
flex-direction: row;
justify-content: space-around !important;
}
#score p{
  font-size: 1.5rem;
}
.user-bck-td{
  background-color: rgb(224, 245, 253);
  border-radius: 0;
}
.bot-bck-td{
  background-color: rgb(255, 232, 232);
  border-radius: 0;
}
/* add term */
#add-term-form{  
  animation: bounceInDown;
  animation-duration: 1s;
  margin: 2rem auto ;
  position: relative;
  padding: 0 2rem;
  background-color: rgb(255, 255, 255) !important;
  width: 28rem;
  height: 22rem;
  -webkit-box-shadow: 10px 10px 11px -8px rgba(0,0,0,0.45);
  -moz-box-shadow: 10px 10px 11px -8px rgba(0,0,0,0.45);
  box-shadow: 10px 10px 11px -8px rgba(0,0,0,0.45);
  display: none;
  grid-template-rows: 2fr 2fr 1fr;
}

#add-term-form div{
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-term-form label{
  line-height: 5rem;
}
option{
  text-transform: capitalize;
}
#close{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -1rem;
  margin-right: 0.5rem;
  font-size: 3rem;
  transform: rotateZ(45deg);
  color: #26a69a;
}
#close:hover{
  cursor: pointer;
}

/* hall of fame */
#hall-of-fame-box{
  width: 100%;
  display: flex; 
  justify-content: space-around;
}
#hall-of-fame-box div{
  width: 28rem; 
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  gap: 1rem;
  margin: 2rem auto 0;
}
.HoF{
  width: 100%;
  /* box-shadow: none !important; */
}

/* kayframes */
@keyframes rollSwitch {
  0%   {transform: rotateZ(45deg);}
  25%  {transform: rotateZ(90deg);}
  50%  {transform: rotateZ(180deg);}
  100% {transform: rotateZ(360deg);}
}

/* media query */

@media only screen and (max-width: 490px) {
  #add-term-form, #log-in, #alert, #hall {
    width: 20rem;
  }
  #user-answers, #result{
    width: 96%;

  }
  #logo{
    font-size: 1.5rem;
  }
  #hall-of-fame-box>div {
    margin: 2rem 1rem 0 1rem;
  }
  #hall-of-fame-box>div button{
    font-size: 10px;
  }
}